version: '3'
services:
  web:
    build:
      context: .
      dockerfile: web.dockerfile
    volumes:
      - code:/usr/src/app:nocopy
      - bundle:/usr/local/bundle
    ports:
      - "${PORT:-3000}:3000" # $PORT is provided by Hotel
    depends_on:
      - postgres

  tests:
    build:
      context: .
      dockerfile: tests.dockerfile
    volumes:
      - code:/usr/src/app:nocopy
      - bundle:/usr/local/bundle
    depends_on:
      - postgres

  postgres:
    image: postgres:9.6
    volumes:
      - postgres:/var/lib/postgresql/data

volumes:
  code:
  bundle:
  postgres:
