version: '3'
services:
  web:
    build:
      context: .
      dockerfile: rails.dockerfile
    volumes:
      - code:/usr/src/app:nocopy
      - bundle:/usr/local/bundle
    ports:
      - "${PORT:-3000}:3000" # $PORT is provided by Hotel
    depends_on:
      - postgres
      - redis

  sidekiq:
    build:
      context: .
      dockerfile: rails.dockerfile
    command: sidekiq -C config/sidekiq.yml.erb
    volumes:
      - code:/usr/src/app:nocopy
      - bundle:/usr/local/bundle
    depends_on:
      - postgres
      - redis

  tests:
    build:
      context: .
      dockerfile: tests.dockerfile
    volumes:
      - code:/usr/src/app:nocopy
      - bundle:/usr/local/bundle
    depends_on:
      - postgres
      - redis

  postgres:
    image: postgres:9.6
    volumes:
      - postgres:/var/lib/postgresql/data

  redis:
    image: redis
    volumes:
      - redis:/data

volumes:
  code:
  bundle:
  postgres:
  redis:
